body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.day {
  background-image: url("https://images.unsplash.com/photo-1593328125760-2a9bf6288fb2?q=80&w=2338&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.night {
  background-image: url("https://images.unsplash.com/photo-1502581827181-9cf3c3ee0106?q=80&w=2288&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}
a {
  color: grey;
}

.weather-app {
  background: rgb(239, 235, 235);
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 0 30px 50px black;
  border-radius: 12px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-form-button {
  background-color: #cc8705;
  padding: 15px 30px;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
}

.search-form-button.night {
  background-color: #052436;
}

.search-form-button:hover {
  opacity: 0.7;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
}
.weather-city {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 48px;
  font-family: "Roboto", sans-serif;
}
.weather-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
.weather-temperature-container {
  display: flex;
}
.weather-temp {
  font-size: 88px;
  font-weight: lighter;
}

.weather-icon {
  font-size: 50px;
  margin-top: 6px;
}
.weather-unit {
  margin-top: 10px;
  font-size: 28px;
}
.weather-forecast {
  margin-top: 20px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 15px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
  font-size: 13px;
  color: #c58f2b;
}

.weather-forecast.night .weather-forecast-temperature-min {
  color: #052436;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
}
.day strong {
  color: #cc8705;
  margin-left: 0px;
}
.night strong {
  color: #052436;
  margin-left: 0px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: hotpink;
  opacity: 0.7;
  font-family: monospace;
}
